<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tolpa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!-- <uses-permission android:name="android.permission.REAL_GET_TASKS"/> -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="24" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="24" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.tolpa.model.App"
        android:allowBackup="true"
        android:icon="@drawable/logo_images"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.tolpa.activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.tolpa.activities.SignUpActivity" />
        <activity
            android:name="com.tolpa.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.tolpa.activities.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name="com.tolpa.activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name="com.tolpa.activities.CategoryListActivity" />
        <activity
            android:name="com.tolpa.activities.EventActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="com.tolpa.activities.MyInformationActivity" />
        <activity android:name="com.tolpa.activities.MyPreferencesActivity" />
        <activity android:name="com.tolpa.activities.ListOfEventsActivity" />
        <activity
            android:name="com.tolpa.activities.NewEventActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.tolpa.activities.SearchFiltersActivity" />
        <!-- <activity android:name=".fragments.ListOfEventSearchFragment" /> -->

        <service
            android:name="com.tolpa.network.NetworkService"
            android:exported="false" />
        <service android:name="com.tolpa.network.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.tolpa.network.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="com.tolpa.data.EventProvider"
            android:authorities="com.tolpa.data.data"
            />

        <activity android:name="com.tolpa.activities.MyEventsActivity" />
        <activity
            android:name="com.tolpa.activities.SearchResultsActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.tolpa.activities.UserProfileActivity" />
        <activity android:name="com.tolpa.activities.FeedActivity" />
        <activity android:name="com.tolpa.activities.ChooseCategoryActivity" />

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <action android:name="android.intent.action.EDIT" />

            <category android:name="android.intent.category.APP_CALENDAR" />

            <data android:mimeType="vnd.android.cursor.item/event" />
        </intent-filter>

        <activity
            android:name="com.tolpa.activities.EnterCredentialsActivity"
            android:label="@string/action_sign_in"
            android:parentActivityName="com.tolpa.activities.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tolpa.activities.LoginActivity" />
        </activity>
        <activity android:name="com.tolpa.activities.UserInfo" />
        <activity android:name="com.tolpa.activities.UserListActivity"></activity>
    </application>

</manifest>